.navbar {
    .nav-item:hover .under-highlight {
        /* display: block; */
        opacity: 1;
        transition: all 100 ease;
    }

}

/* media query */
@media (max-width: 768px) {
    .hero {
        background-image: url('../../../utils//images/hero/hero-bg-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .hero {
        background-image: url('../../../utils//images/hero/hero-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }
    
}


/* Sidebar Parent styles - Controls the transition */
.sidebar-parent {
    right: -100%;
    width: 70%;
    height: 100svh;
    position: absolute;
    opacity: 0;
    transition: 400ms ease-in-out;
    border: 2px solid #5D8B2C;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}

/* When the sidebar is active, it slides in from the right */
.sidebar-parent.active {
    right: 0; /* Move the sidebar into view */
    opacity: 1; /* Make it visible */
}
